---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="has-navbar-fixed-top">
    <Header />
    <main class="main-section">
      <article class="container is-max-desktop main-content">
        <div class="columns is-desktop">
          <div class="column is-10 is-offset-1">
            <h1 class="title">{title}</h1>
            <span class="subtitle is-6">
              <FormattedDate date={pubDate} />
            </span>
            {
              updatedDate && (
                <div class="last-updated-on has-text-centered">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
            <hr />
            <div class="content">
              <slot />
            </div>
          </article>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
